.loader{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #fff;
    transition: all 1s;
    .loaderAnimation{
        width: 10vw;
    }
}